
* {
	margin: 0;
	padding: 0;
}

body {
	background: #111;
	color: #00CC00;
	font: 16px Monaco, "Lucida Console", "Courier New", Courier;
	padding: 7px;
}

a {
	color: #00CC00;
	text-decoration: none;
	border:none;
}
a:active, a:hover {
	color: #00CC22;
	text-decoration: underline;
}

b {
	color: #00CC00;
	font-weight: normal;
}

div {
	overflow: hidden;
	zoom: 1;
}

span {
	float: left;
}
span.prompt {
	padding-right: 10px;
}
span.cursor {
	background-color: #0f0;
	height: 16px;
	width: 10px;
}
span.commandhelp {
	width: 120px;
}
span.date {
	color: #aaa;
	width: 100px;
}
span.title {
	width: 260px;
}
img {
	float: left;
	margin-right: 5px;
}

td {
	padding-right: 5px;
}
td.filesize {
	text-align: right;
}
td.dir {
	color: #75f;
}
